[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = https://github.com/j8takagi/browse-kill-ring.git
[submodule "site-lisp/undohist"]
	path = site-lisp/undohist
	url = https://github.com/j8takagi/undohist
[submodule "site-lisp/jaword"]
	path = site-lisp/jaword
	url = https://github.com/j8takagi/jaword
[submodule "site-lisp/tinysegmenter"]
	path = site-lisp/tinysegmenter
	url = https://github.com/j8takagi/tinysegmenter.el
